# Sample notebook with outdoor store data

In [2]:
# The code was removed by Watson Studio for sharing.

   Retailer code  Product number        Date  Quantity
0           1206          126140  06/02/2018        32
1           1149          128140  15/06/2018        31
2           1217          129130  15/03/2017         6
3           1275          149140  17/07/2018        54
4           1241          129130  10/10/2017         3